<footer>
  <div class="flex flex-col gap-4 justify-center p-8 max-w-[1200px] mx-auto">

    <div class="flex flex-row justify-between">

      <div class="flex flex-col">
        <a href="/liquid-glass-mobile-development"><h3 class="opacity-60">Mobile Development</h3></a>

        <ul class="pt-1">
          <li><a href="/liquid-glass-android">Liquid Glass Android</a></li>
          <li><a href="/liquid-glass-ios">Liquid Glass iOS</a></li>
          <li><a href="/liquid-glass-react-native">Liquid Glass React Native</a></li>
          <li><a href="/liquid-glass-flutter">Liquid Glass Flutter</a></li>
          <li><a href="/liquid-glass-jetpack-compose">Liquid Glass Jetpack Compose</a></li>
        </ul>
      </div>

      <div class="flex flex-col">
        <a href="/liquid-glass-web-development"><h3 class="opacity-60">Web Development</h3></a>

        <ul class="pt-1">
          <li><a href="/liquid-glass-react">Liquid Glass React</a></li>
          <li><a href="/liquid-glass-vue">Liquid Glass Vue</a></li>
          <li><a href="/liquid-glass-svelte">Liquid Glass Svelte</a></li>
          <li><a href="/liquid-glass-css">Liquid Glass CSS</a></li>
          <li><a href="/liquid-glass-tailwind">Liquid Glass Tailwind</a></li>
        </ul>
      </div>

      <div class="flex flex-col">
        <a href="/liquid-glass-design-resources"><h3 class="opacity-60">Design</h3></a>

        <ul class="pt-1">
          <li><a href="/liquid-glass-figma">Liquid Glass Figma</a></li>
          <li><a href="/liquid-glass-framer">Liquid Glass Framer</a></li>
          <li><a href="/liquid-glass-webflow">Liquid Glass Webflow</a></li>
        </ul>
      </div>

      <div class="flex flex-col">
        <img src="/assets/images/liquid-glass-resources-logo-16.png" alt="Liquid Glass Resources logo" class="size-4 my-1"></img>

        <ul class="pt-1">
          <li><a href="mailto:hello@brew.dev">Reach out via email to become a sponsor</a></li>
          <li><a href="/advertise">Stats</a></li>
          <li><a href="mailto:hello@brew.dev">Reach out via email to submit a resource</a></li>
        </ul>
      </div>

    </div>  

    <div class="flex flex-row gap-4 justify-center pb-8 pt-4">
      <p>© 2025 {{ site.title }}</p>
      <p>
        <a href="https://brew.dev" target="_blank">Made with ❤️ by Brew</a>
      </p>
    </div>
  </div>
</footer>
