<header>
  <div class="card shadow-sm bg-white flex flex-col gap-4 py-20 mt-16 mb-12 items-center">
    <h1 class="text-4xl text-center font-bold">
      {% if page.title %}
        {{ page.title }}
      {% else %}
        <a href="/" class="flex flex-row gap-2">
        <img src="/assets/images/liquid-glass-resources-logo-40.png" alt="Liquid Glass Resources Logo" class="h-10 w-10" />
        <span>{{ site.title }}</span>
      </a>
      {% endif %}
    </h1>

    <p class="text-center w-[60%]">
      {% if page.description %}
        {{ page.description }}
      {% else %}
        A curated directory of frameworks, code samples, and design assets for implementing Liquid Glass effects across platforms beyond iOS and macOS
      {% endif %}
    </p>
  </div>
</header>
