<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="Liquid Glass, Liquid Glass UI, Glassmorphism, Development resource, Library, Framework, Tutorial, Design component, Code snippet" />
  <meta name="msvalidate.01" content="8F1E1D8DD8B3D6414FD11A144144C07E" />
  <link rel="stylesheet" href="/assets/dist-styles.css" />
  <link rel="icon" type="image/png" href="https://liquidglassresources.com/favicon.png" />
  {% seo %}
</head>
