<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <a href="/" class="flex items-center gap-2">
            <img src="/assets/images/liquid-glass-resources-logo-40.png" alt="Liquid Glass Resources Logo" class="h-10 w-10 rounded" />
            <span class="font-bold text-xl">Liquid Glass Resources</span>
          </a>
    </div>

    <a class="navbar-center flex-row items-center hidden lg:flex gap-2" href="https://www.producthunt.com/products/liquid-glass-resources?embed=true&utm_source=badge-featured&utm_medium=badge&utm_source=badge-liquid&#0045;glass&#0045;resources" target="_blank">
        <span class="text-sm">🎉 We're launching on the 23rd of December!</span>
        <div class="w-36">
            <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=1046073&theme=dark&t=1765882468347" alt="Liquid&#0032;Glass&#0032;Resources - Dev&#0032;and&#0032;design&#0032;resources&#0032;to&#0032;implement&#0032;Liquid&#0032;Glass&#0032;effects | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" />
        </div>
    </a>

    {% if page.id == null %}
    <div class="navbar-end">
      <a href="#submit-resource" class="btn">+ Submit a resource</a>
    </div>
    {% endif %}
  </div>