<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <a href="/" class="flex items-center gap-2">
            <img src="/assets/images/liquid-glass-resources-logo-m.png" alt="Liquid Glass Resources Logo" class="h-10 w-10 rounded" />
            <span class="font-bold text-xl">Liquid Glass Resources</span>
          </a>
    </div>
    <div class="navbar-center hidden lg:flex">
      
    </div>
    {% if page.id == null %}
    <div class="navbar-end">
      <a href="#submit-resource" class="btn">+ Submit a resource</a>
    </div>
    {% endif %}
  </div>