<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <a href="/" class="flex items-center gap-2">
            <img src="/assets/images/liquid-glass-resources-logo-m.png" alt="Liquid Glass Resources Logo" class="h-10 w-10 rounded" />
            <span class="font-bold text-xl">Liquid Glass Resources</span>
          </a>
    </div>
    <div class="navbar-center hidden lg:flex">
      
    </div>
    <div class="navbar-end">
        <ul class="menu menu-horizontal menu-md px-1">        
            <li>
              <details>
                <summary>Browse by category</summary>
                <ul class="p-2">
                  <li><a>Submenu 1</a></li>
                  <li><a>Submenu 2</a></li>
                </ul>
              </details>
            </li>
          </ul>
      <a class="btn">+ Submit a resource</a>
    </div>
  </div>